# Stage 09 — Homework Starter Notebook

In the lecture, we learned how to create engineered features. Now it’s your turn to apply those ideas to your own project data.

In [1]:
import pandas as pd
import numpy as np

# Example synthetic data (replace with your project dataset)
np.random.seed(0)
n = 100
df = pd.DataFrame({
    'income': np.random.normal(60000, 15000, n).astype(int),
    'monthly_spend': np.random.normal(2000, 600, n).astype(int),
    'credit_score': np.random.normal(680, 50, n).astype(int)
})
df.head()

   income  monthly_spend  credit_score
0   86460           3129           661
1   66002           1191           668
2   74681           1237           734
3   93613           2581           712
4   88013           1296           712

## TODO: Implement at least 2 engineered features here

In [2]:
# Example template:
df['spend_income_ratio'] = df['monthly_spend'] / df['income'] 
df['annual_spend']=df['monthly_spend']*12
df['disposable_income']=df['income']-df['annual_spend']
df.head()
# Add rationale in markdown below

,income,monthly_spend,credit_score,spend_income_ratio,annual_spend,disposable_income
0,86460,3129,661,0.036190,37548,48912
1,66002,1191,668,0.018045,14292,51710
2,74681,1237,734,0.016564,14844,59837
3,93613,2581,712,0.027571,30972,62641
4,88013,1296,712,0.014725,15552,72461

### Rationale for Feature 1
spend_income_ratio can help us compare the spending behaviors of individuals with different incomes, as the raw spend number is independent of income.

### Rationale for Feature 2
annual_spend gives us an idea of an individual's spend in a year, allowing us to use a scale that is consistent with income

### Rational for Feature 3

Disposable income gives us an idea of how much individuals have left to spend after subtracting annual spend